{{#partial "content"}}
        <div class="row indexButton">
            <div class="create">
                <marquee
                        behavior="scroll"
                        width="100%"
                        direction="left"
                        scrollamount="13.5"
                ><h1 class="text-center bg-white">Welcome To hero-squad...</h1></marquee>
                <div id="card1">
                    <a href="/create/hero"><button class="btn btn-success btn-lg">Create Hero</button></a>
                </div>
                <div id="card2">
                    <a href="/create/squad"><button class="btn btn-success btn-lg">Create Squad</button></a>
                </div>
            </div>
        </div>
{{/partial}}
{{> layout.hbs}}