{{#partial "content"}}
    <div class="form-class">
        <form action="/heroes/new" method="post">
            <h3>Create New Hero !!</h3>
            <hr>
            <div class="form">
                <label for="name">Name</label><br>
                <input type="text" name="name" id="name" required><br>
                <label for="age">Age</label><br>
                <input type="number" name="age" id="age" required><br>
                <label for="powers">Special Powers</label><br>
                <input type="text" name="powers" id="powers" required><br>
                <label for="weakness">Weakness</label><br>
                <input type="text" name="weakness" id="weakness" required><br>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Create</button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}