{{#partial "content"}}
        <div class="row indexButton">
            <div class="create">
                <a href="/create/hero"><button class="btn btn-success btn-lg">Create Hero</button></a>
                <a href="/create/squad"><button class="btn btn-success btn-lg">Create Squad</button></a>
            </div>
        </div>
{{/partial}}
{{> layout.hbs}}